{% if page.url == '/index.html' or page.url == '/' %}
{% else %}
	<a class="back-button" href="/"></a>
{% endif %}
<aside class="logo">

	{% if true %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Home' %}
	{% endif %}

	<a class="profile-picture" href="{{ link | prepend: site.baseurl }}">
		<img src="/assets/profile.jpg" class="gravatar">
	</a>

	{% if page.url == '/index.html' or page.url == '/' %}
	<h1 class="header-name">Joe Frew</h1>
	<nav>
		<ul>
			<li><a href="/about">about</a></li>
			<li><a href="https://github.com/RetroMelon" target="_blank">github</a></li>
			<li><a href="https://www.linkedin.com/in/joefrew" target="_blank">linkedin</a></li>
			<li><a href="https://drive.google.com/open?id=1kG5ZGQr7gMh015ZCWee7_e8aH_a0BQ1O" target="_blank">cv</a></li>
		</ul>
	</nav>
	<section class="intro-section">
		Software Engineer for Amazon, working on AWS. Graduated in Computing Science (BSc. Hons) from the University of Glasgow. Former President of the <a href="http://gutechsoc.com">Glasgow University Tech Society (GUTS)</a> and organiser of Scotland’s largest hackathon. I also like to play guitar & harmonica.
	</section>
	{% endif %}

</aside>
